section{
border: 1px solid black;
margin: 5px;
text-align: center;

}
article {
  margin: 5px;
  border: 1px solid blue;
  text-align: justify;
}
h1 {

text-align: center;

}
nav{
  background-color: black;
  height: 40px;
  text-align: center;
  padding-top: 20px;
}
a {
  margin-top: 10px;
  color: red;
}
