section{
border: 1px solid black;
margin: 5px;
text-align: center;

}
article {
  margin: 5px;
  border: 1px solid blue;
  text-align: justify;
}
h1 {
font-size: 300%;
text-align: center;
padding: 15px;
}
nav{
/*  background-color: black;*/
  height: 40px;
  text-align: center;
  padding-top: 29px;
  padding-bottom: 15px;
  margin-right: 5px;

  background: rgba(158,205,225,1);
  background: -moz-linear-gradient(left, rgba(158,205,225,1) 0%, rgba(244,248,249,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(158,205,225,1)), color-stop(100%, rgba(244,248,249,1)));
  background: -webkit-linear-gradient(left, rgba(158,205,225,1) 0%, rgba(244,248,249,1) 100%);
  background: -o-linear-gradient(left, rgba(158,205,225,1) 0%, rgba(244,248,249,1) 100%);
  background: -ms-linear-gradient(left, rgba(158,205,225,1) 0%, rgba(244,248,249,1) 100%);
  background: linear-gradient(to right, rgba(158,205,225,1) 0%, rgba(244,248,249,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ecde1', endColorstr='#f4f8f9', GradientType=1 );


}

nav > ul > li > a {
  color: #3a86b8;
  text-decoration:none;
  border: 5px;
}
nav > ul > li {
  float: left;
  list-style: none;
  border-left: 1px solid #3a86b8;
  width:85px;
  height: 15px; repeat-y;
}

a {
  margin-top: 10px;
  color: red;
}
article > header > h1{
  text-decoration: underline;
}
main{
  width: 800px;
  margin: auto;
}
header{
  margin-bottom: 19px;
  margin-top: 15px;
  margin-bottom: 150px;
}
#descripcion {
  width:500px;
  padding-left:15px;
  padding-right:15px;
  font-size:150 %;
  font-weight:100;
}
#imagen{

   background-image: url("../img/news.png");
   width: 171px;
   height: 150px;
   position: absolute;
   margin-left: 76%;


}





.barranigga{
background-color: black;
height: 50px;

/*
background: rgba(0,0,0,1);
background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(207,203,207,1) 51%, rgba(19,19,19,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(51%, rgba(207,203,207,1)), color-stop(100%, rgba(19,19,19,1)));
background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(207,203,207,1) 51%, rgba(19,19,19,1) 100%);
background: -o-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(207,203,207,1) 51%, rgba(19,19,19,1) 100%);
background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(207,203,207,1) 51%, rgba(19,19,19,1) 100%);
background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(207,203,207,1) 51%, rgba(19,19,19,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#131313', GradientType=1 );
*/
background: rgb(0,0,0); /* Old browsers */
background: -moz-linear-gradient(top, rgb(0,0,0) 0%, rgb(0,0,0) 37%, rgb(239,239,239) 100%, rgb(239,239,239) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgb(0,0,0) 0%,rgb(0,0,0) 37%,rgb(239,239,239) 100%,rgb(239,239,239) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgb(0,0,0) 0%,rgb(0,0,0) 37%,rgb(239,239,239) 100%,rgb(239,239,239) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#efefef',GradientType=0 );
}
.barraniggaI{
height: 50px;
background: rgb(239,239,239); /* Old browsers */
background: -moz-linear-gradient(top, rgb(239,239,239) 0%, rgb(0,0,0) 63%, rgb(0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgb(239,239,239) 0%,rgb(0,0,0) 63%,rgb(0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgb(239,239,239) 0%,rgb(0,0,0) 63%,rgb(0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#000000',GradientType=0 );
}
